<div class="sendbox">
    <div class="sendbox-inner">
        <form role="form" class="form">
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="responseText" class="sr-only"><%= i18n.t("write_a_reply") %></label>
                    <textarea id="responseText" placeholder="<%= i18n.t("write_a_reply") %>" class="form-control"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="pull-right">
                        <div class="checkbox enterToSend">
                            <label>
                                <input id="enterToSend" type="checkbox"> <%= i18n.t("press_enter_to_send") %>
                            </label>
                        </div>
                        <button class="btn btn-primary btn" type="submit" id="sendResponse"><%= i18n.t("reply") %></button>
                    </div>
                    <div class="btn-group format-toolbar">
                        <button type="button" data-toggle="tooltip" data-bbcode-tag="b" data-title="<%= i18n.t("bold") %> (Ctrl+B)" class="btn btn-default"><i class="fa fa-bold"></i></button>
                        <button type="button" data-toggle="tooltip" data-bbcode-tag="i" data-title="<%= i18n.t("italic") %> (Ctrl+I)" class="btn btn-default"><i class="fa fa-italic"></i></button>
                        <button type="button" data-toggle="tooltip" data-bbcode-tag="u" data-title="<%= i18n.t("underline") %> (Ctrl+U)" class="btn btn-default"><i class="fa fa-underline"></i></button>
                        <button type="button" data-toggle="tooltip" data-bbcode-tag="s" data-title="<%= i18n.t("strikethrough") %>" class="btn btn-default"><i class="fa fa-strikethrough"></i></button>
                    </div>
                </div>
            </div>
         </form>
    </div>
</div>