<div class="sendbox">
    <div class="sendbox-inner">
        <form role="form" class="form-inline">
            <div class="form-group col-lg-11">
                <label for="responseText" class="sr-only"><%= i18n.t("write_a_reply") %></label>
                <textarea id="responseText" placeholder="<%= i18n.t("write_a_reply") %>" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary col-lg-1" id="sendResponse"><%= i18n.t("reply") %></button>
         </form>
    </div>
</div>