<div class="row tab-home-content">
    <div id="home-room-list">
        <div class="roomlist">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= i18n.t("room", { count: rooms.length }) %></h3>
                </div>
                <div class="scrollable table-wrapper">
                    <table class="table-hover table-condensed" id="roomlist" >
                        <tbody>
                            <% rooms.each(function(room) { %>
                                <tr data-room-id="<%= room.get("id") %>"><td><%= room.get("name") %></td></tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="home-user-list">

    </div>
</div>