<div class="row" id="chatbox">
    <div class="col-md-9" id="messages" style="height: 100%; padding: 20px 10px 20px 20px;">
        <div class="col-md-12" style="height: 100%; overflow: auto;"> aaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaa fsf df sqf sfsdf bdf  fjqdfqjkdsfh hjfh qhfjkj s hfksjdfhsjfkhskjf fhkjfhldfkhshf hfjhsdf hskjfh dkjaaaaaa fgg<br> a<br> a<br> a<br> a<br> a<br> a<br> a<br> a<br> a<br> a<br> a<br> a<br> a<br> a<br> a<br> a<br> a<br> </div>
    </div>
    <div style="padding: 20px 20px 20px 0px; height: 100%;" id="profile" class="col-md-3">
        <div class="col-md-12" style="height: 100%; position: relative;">
            <div style="height: 100%; width: 100%; position: relative;" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Personnes présentes</h3>
                </div>
                <div style="top: 40px; bottom: 0px; overflow: auto; position: absolute; width: 100%;" id="table-wrapper">
                    <table style="cursor: pointer; width: 100%; height: 100%;" class="table-hover table-condensed">
                        <tbody>
                            <tr id="user-1"><td>Joe</td><td>25</td><td>Clermont-Ferrand</td></tr>
                            <tr id="user-2"><td>Paul</td><td>20</td><td>Riom</td></tr>
                            <tr id="user-3"><td>Chris</td><td>42</td><td>Clermont-Ferrand</td></tr>
                            <tr id="user-4"><td>Joe</td><td>25</td><td>Clermont-Ferrand</td></tr>
                            <tr id="user-5"><td>Joe</td><td>25</td><td>Clermont-Ferrand</td></tr>
                            <tr id="user-6"><td>Joe</td><td>25</td><td>Clermont-Ferrand</td></tr>
                            <tr id="user-7"><td>Joe</td><td>25</td><td>Clermont-Ferrand</td></tr>
                            <tr id="user-8"><td>Joe</td><td>25</td><td>Clermont-Ferrand</td></tr>
                            <tr id="user-9"><td>Joe</td><td>25</td><td>Clermont-Ferrand</td></tr>
                            <tr id="user-10"><td>Joe</td><td>25</td><td>Clermont-Ferrand</td></tr>
                            <tr id="user-11"><td>Joe</td><td>25</td><td>Clermont-Ferrand</td></tr>
                            <tr id="user-12"><td>Joe</td><td>25</td><td>Clermont-Ferrand</td></tr>
                            <tr id="user-13"><td>Joe</td><td>25</td><td>Clermont-Ferrand</td></tr>
                            <tr id="user-14"><td>Joe</td><td>25</td><td>Clermont-Ferrand</td></tr>
                            <tr id="user-15"><td>Joe</td><td>25</td><td>Clermont-Ferrand</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="position: relative;" class="row">
    <div class="col-md-12" id="sendbox">
        <div style="width: 100%; background: none repeat scroll 0% 0% rgb(238, 238, 238); border-radius: 0px 0px 4px 4px; height: 100%; border-top: 1px solid rgb(205, 205, 205); padding: 10px;" id="sendbox-inner">
            <form role="form" class="form-inline">
                <div class="form-group col-lg-11">
                    <label for="responsetext" class="sr-only">Votre réponse</label>
                    <textarea style="height: 34px; resize: none;" id="responseText" placeholder="Votre réponse" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-primary col-lg-1" id="sendResponse">Répondre</button>
             </form>
        </div>
    </div>
</div>